/* RESET GLOBAL */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
}

input,
textarea,
select {
    font-family: inherit;
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}