/* =========================
   STATUS BASE
========================= */

.status {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    color: var(--color-white);
}

/* VARIAÇÕES */

.status-success {
    background: var(--color-success);
}

.status-warning {
    background: var(--color-warning);
}

.status-danger {
    background: var(--color-danger);
}

.status-info {
    background: var(--color-primary);
}