/* =========================
   FOOTER
========================= */

.footer {
    background-color: #232f3e;
    color: white;
    text-align: center;
    padding: 30px 0;
    margin-top: 40px;
}

.footer p {
    font-size: 0.95rem;
}